{template 'member', 'header'}
<div class="wrapper ">
    <div class="wrapper-main">
        <section class="company_center qy_sider">
            <div class="qy_wrapper">
                <!-- --------aside 侧边栏  左边-------- -->
                <div class="person-sider">
                    <div class="person-sider-list company">
                        <dl>
                            
                                <dt>
                                    <h3>
                                        账户管理
                                    </h3>
                                </dt>
                            
                            <dt>
                                <a href="/company" class="active">
                                    <h2>
                                        中心首页
                                    </h2>
                                </a>
                            </dt>
                            <dt class="active sider-cate">
                                <a href="javascript:;">
                                    招聘信息
                                </a>
                            </dt>
                            <dd style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/company/release" class="">
                                            发布招聘信息
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/history" class="">
                                            发布的招聘
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/receive" class="">
                                            收到的简历
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="active sider-cate">
                                <a href="javascript:;">
                                    我的转让
                                </a>
                            </dt>
                            <dd style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/company/add-transfer" class="">
                                            发布转让信息
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/transfer" class="">
                                            发布的转让
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="active sider-cate">
                                <a href="javascript:;">
                                    我的求购
                                </a>
                            </dt>
                            <dd style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/company/add-need" class="">
                                            发布求购信息
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/need" class="">
                                            发布的求购
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="active sider-cate">
                                <a href="javascript:;">
                                    企业信息
                                </a>
                            </dt>
                            <dd style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/company/info" class="">
                                            企业认证
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/state" class="">
                                            认证状态
                                        </a>
                                    </li>
                                    <!--
                                        <li>
                                            <a href="/company/view?id=20265"  class="">
                                                公司预览
                                            </a>
                                        </li>
                                    -->
                                </ul>
                            </dd>
                            <dt class="active sider-cate">
                                <a href="javascript:;">
                                    我的收藏
                                </a>
                            </dt>
                            <dd style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/company/favor?t=resume" class="">
                                            收藏的简历
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/favor?t=transfer" class="">
                                            收藏的转让
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/favor?t=need" class="">
                                            收藏的求购
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/company/favor?t=article" class="">
                                            收藏的文章
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                            <!--
                                <dt class="active">
                                    <a href="javascript:;">
                                        论坛管理
                                    </a>
                                </dt>
                                <dd style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="/bbs/forum.php?mod=guide&view=my">
                                                我的帖子
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/bbs/home.php?mod=space&do=favorite&view=me">
                                                我的收藏
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/bbs/home.php?mod=space&do=pm">
                                                回复消息
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            -->
                        </dl>
                    </div>
                </div>
                <!-- --------content 右边内容-------- -->
                <div class="comstate_content fr">
                    <div class="comstate_r_menu">
                        <!-- 公司认证状态 -->
                        <div class="comedit_tab_content martop40">
                            <div class="comstate_renz_p">
                                <div class="fl">
                                    <img src="/static/img/list/company_renzheng_img.png" width="120" height="120"/>
                                </div>
                                <div class="fl marl35">
                                    <div class="comCenter_renz">
                                        <p class="comCenter_txt">
                                            <span class="comCenter_font18">
                                                未设置
                                            </span>
                                            <span>
                                                消息提醒：
                                            </span>
                                            <a href="">
                                                <span class="zzBao_colBlue">
                                                    0
                                                </span>
                                                条系统消息
                                            </a>
                                            <a href="">
                                                <span class="colRed">
                                                    0
                                                </span>
                                                条未读
                                            </a>
                                        </p>
                                        <p class="">
                                            欢迎回来~
                                        </p>
                                        <!-- 未认证 -->
                                        <p class="comCenter_colgray">
                                            为了提高排名和信誉，请认证营业执照
                                            <a href="/company/info">
                                                立即认证
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear clearfix">
                        </div>
                    </div>
                    <!-- 我发布的简历 -->
                    <div class="comCenter_jianli martop20">
                        <div class="issuJl_r_menu">
                            <h1 class="issuJl_r_title">
                                我发布的招聘
                            </h1>
                            <div class="comCenter_table_main">
                                <div class="issuJl_r_table martop40">
                                    <table width="790">
                                        <tbody>
                                            <tr class="issuJl_table_title">
                                                <th class="padl34 tit" style="width: 212px;">
                                                    标题
                                                </th>
                                                <th style="width: 83px;">
                                                    浏览次数
                                                </th>
                                                <th style="width: 86px;">
                                                    审核状态
                                                </th>
                                                <th style="width: 181px;">
                                                    日期
                                                </th>
                                                <th style="width: 170px;">
                                                    操作
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="comCenter_table_more">
                                    <a href="/company/history">
                                        查看更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 收到的简历 -->
                    <div class="issuJl_r_menu martop20">
                        <h1 class="issuJl_r_title">
                            收到简历
                        </h1>
                        <div class="issuJl_r_table martop40">
                            <table width="790">
                                <tbody>
                                    <tr class="issuJl_table_title">
                                        <th class="wid245">
                                            招聘职位
                                        </th>
                                        <th style="width: 225px;">
                                            简历
                                        </th>
                                        <th style="width: 135px;">
                                            日期
                                        </th>
                                        <th style="width: 170px;">
                                            操作
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="comCenter_table_more">
                            <a href="/company/receive">
                                查看更多
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear clearfix">
                </div>
            </div>
        </section>
    </div>
    {template 'content', 'footer'}
